<header class="flex-fill">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/welcome">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/team">Team <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section>
  <div class="container-fluid bg-secondary ">
    <div class= "text-light  d-flex align-content-end flex-wrap ">
      <p class="p-6"><br/>Salut <%=@my_name_param.capitalize%>! Ici c'est notre super site de potins, il est chouette, non ?<br/></p>
    </div>
    <div class="container-fluid d-flex align-content-between justify-content-between flex-wrap">
      <% @gossip.each do |gossip| %>
        <div class = "card" style = "width: 25rem;">
          <div class="bg-light text-dark">
            <div class = "card-body">
              <h6 class = "text-success">Gossip n°: <%= gossip.id%></h6>
              <p class = "card-text">
                L'auteur: <%= gossip.author %><br/>
                Le contenu :<%= gossip.content %><br/>
                <a href="/gossip/<%= gossip.id %>" class="card-link">Lien ici</a>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
